<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93241744850-57bvni3hj5k55ja89fdqqbaq3iq5m3k1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93241744850-57bvni3hj5k55ja89fdqqbaq3iq5m3k1</string>
	<key>API_KEY</key>
	<string>AIzaSyBzaQL8_I564RD3-RIeR6w0yDUCcyBoA20</string>
	<key>GCM_SENDER_ID</key>
	<string>93241744850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sixteenis.testDB</string>
	<key>PROJECT_ID</key>
	<string>realdb-f3afb</string>
	<key>STORAGE_BUCKET</key>
	<string>realdb-f3afb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93241744850:ios:fdf211371e2e9ca45e7c0b</string>
</dict>
</plist>